<template>
  <b-card align="center" class="mb-10 shadow" style="border-radius: 15px">
    <b-card-title class="title-card">0</b-card-title>
    <b-card-text>
      <b-img src="media/svg/custom/mace.svg" alt="Circle image"></b-img>
    </b-card-text>
    <b-card-text class="text-dark-75 font-weight-bold font-size-h5 m-0"
      >Undang-undang</b-card-text
    >
  </b-card>
</template>

<script>
export default {
  name: "CardWidget1",
  data() {
    return {
      mainProps: {
        blank: true,
        blankColor: "#777",
        width: 75,
        height: 75,
        class: "m1"
      }
    };
  }
};
</script>

<style scoped>
.title-card {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #000000;
}
</style>
